/* Your CSS goes here */
#main {
  text-align: center;

}
body {
  height: 100%;
}
#close {
  position: absolute;
  top: 90px;
  right: 0;
  width: 64px;
  height: 64px;
  overflow: hidden;
  z-index: 1000;
}
#close img {
  width: 100%;
}
#speed {
  font-size: 8em;
  line-height: .8em;
}

#body {
  background-repeat: no-repeat;
  background-size: cover;
}

#map {
  height: 330px;
  width: 100%;
 z-index: -1;
  position: absolute;
  margin-bottom: -30px !important;

}

.beforeBtn {

  background-color: black;
  height: 40px;

}

#btn {
    margin-top: 300px;
    background: #e74c3c;
    color: #fff;
    font-family: Arial;
    font-weight: lighter;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    text-align: center;
    border: 3px solid white;
    transition: all 0.3s ease 0s;
    outline: 0;
}

#btn:hover {

  background-color: #CF000F;
  cursor: pointer;

}

#warning {
  background-color: black; 
  margin-top: 10px; 
  margin-bottom: -20px;
  margin-left:10px;
  float:left;
  color: #65E33B;
  
}
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #FF1177, 0 0 10px #FF1177, 0 0 10px #FF1177, 0 0 10px #FF1177, 0 0 10px #FF1177;
  }
  to {
 text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #FF1177, 0 0 10px #FF1177, 0 0 10px #FF1177, 0 0 10px #FF1177, 0 0 10px #FF1177;  }
}

