 html, body {

	height: 100%;
	margin: 0;
	padding: 0;
	
	margin-top: 0px;
  }

/* Navbar */
.navbar-header {
	 height: 100%;
}
.navbar-default {
	border:none;
	background-color: transparent;
	
	border: none;
	-webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;

}



.navbar-default .navbar-nav>li>a {

	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	color: white;
	

}

.navbar-default .navbar-nav>li>a:hover{

	color:#ccc;
	border-bottom: 1px solid #ccc;

}

.navbar-default .navbar-toggle {
	margin-top: 25px;
	color: white;
	margin-right: 20px;
	background-color: transparent;
}

.navbar-default .navbar-toggle:hover {

	background-color: #e74c3c;
	color: white;

}

.navbar-default .navbar-toggle .icon-bar{

	background-color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border:none;
}

.navbar-header {
	height: 80px;
}


.navbar-brand {
   position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:30px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-brand > img {
  display: inline-block;
  margin:auto;
  height: 60px;
  display: none;
}




#map {
	
	width: 100%;
  	height: 100%;
  	margin-top: 40px;
  	border: 2px solid #ffffff;
  	margin-bottom: 30px;
  	margin-left: -7px;

}

#title {

	margin-top: 15px;

}
#main .container {

	height: 500px;
	max-width: 800px;


}

header {

	background-color: transparent;
	height: 70px;
	margin-bottom: 0px;
	

}

#main {
	height: 900px;
	background-image: url("src/images/clownBG.png");
	background-repeat: none;
	background-size: cover;
	

}

#more {
	font-family: 'Roboto', sans-serif;

	background: transparent;
    color: #fff;
    
    font-weight: lighter;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    border: 3px solid white;
    transition: all 0.3s ease 0s;
    outline: 0;
}

#more:hover {

  background-color: #e74c3c;
  cursor: pointer;

}


.img-responsive {
    margin: 0 auto;
    padding-bottom: 20px;
}

#about {
	padding-top: 60px;
	background-color: white;
	color: #063E58;
}

.info {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 22px;

}

#img {
	height: 150px;
}

#about2 {
	background-color: #e74c3c;
	text-align: left;
	color:white;
	


}



#logo {

	height: 80px;
	margin-left: 20px;
	margin-top: 15px;

}





#img1 {
	padding-top: 30px;
	height: auto;
	margin-right: 19px;
	max-width: 95%;
}

#about3 {
	height: 60%;
	background-color: white;
	color: #063E58;
	text-align: right;
}

#img2 {
	padding-top: 30px;
	height: auto;
	margin-right: 19px;
	max-width: 95%;

}

#about4 {
	padding-top: 30px;
	background-color: #e74c3c;
	color: white;
	font-size: 30px;
	font-weight: lighter;
	font-family: 'Roboto', sans-serif;
}

#img3 {
	height: 200px;
}

#about5 {
	margin-top: 40px;
	margin-bottom: 30px;
	color: #063E58;
}

#img4 {
	height: 250px;
	margin-top: 40px;
}

footer {
	background-color: #e74c3c;
	height: 50px;
	text-align: center;
	color: white;
	font-weight: lighter;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {


	.navbar-default .navbar-nav>li>a  {

		margin-top: 5px;
	}

		#about2 {
  	height: 60%;
  }

  #about2 h2 {
  	padding-top:  100px;
  }

  #about3 h2 {
  	padding-top:  100px;
  	
  }


}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {


	.navbar-default .navbar-nav>li>a  {

		margin-top: 5px;
	}

		#about2 {
  	height: 60%;
  }

  #about2 h2 {
  	padding-top:  100px;
  }

  #about3 h2 {
  	padding-top:  100px;
  	
  }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	.navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }

  .navbar-default .navbar-nav>li>a  {

		margin-top: 5px;
	}

	#about2 {
  	height: 60%;
  }

  #about2 h2 {
  	padding-top:  100px;
  }

  #about3 h2 {
  	padding-top:  100px;
  	
  }



}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	#map {

		width: 100%;

	}
	#main .container {
		width: 100%;
	}

	.nav {
		height: 50px;
	}

	.head {
		margin-top: -70px;
		
	}

	#about2 {

		height: 65%;
	}

	#about2 h2 {
		padding-top: 50px;
	}

	#img2 {
		padding-top: 25%;
	}

	h2 {
		font-size: 22px;

	}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
